<h1>New program</h1>

<% form_for @program do |program_form| %>
    <% fields_for @program.condition do |condition_fields| %>
      Condition  : <%= condition_fields.text_field :name %>
    <% end %>
    <% fields_for @program.meal do |meal_fields| %>
      Meal  : <%= meal_fields.text_field :name %>
    <% end %>
    <%= program_form.submit "Create" %>
  <% end %>


